@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  @apply bg-orange-bg text-blue-text;
}

body {
  font-family: "Poppins", sans-serif;
  @apply bg-main-background;
}
