@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  @apply bg-main-background;
}
