@font-face {
  font-family: "Inter";
  src: url("../../assets/Fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "InterLight";
  src: url("../../assets/Fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../../assets/Fonts/Poppins-SemiBold.ttf");
}

.sectionContainer {
  background-image: url("../../assets/Images/BG-01.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.sectionBody {
  @apply w-full h-[170vh] lg:h-[140vh] xl:h-[172vh] 2xl:h-[174vh] lg:pt-[12vw] xl:pt-[2.3vw] pt-[12vw] lg:px-20 2xl:px-[18vw] xl:px-60 px-4 text-white-text;
}

.headerContent {
  @apply sticky top-[5vw] lg:top-[5vw] xl:top-[3vw] text-center;
}

.headerHeading {
  font-family: "PoppinsSemiBold";
  @apply text-4xl text-orange-text;
}

.headerDesc {
  font-family: "Inter";
  @apply px-4 mt-4 text-left lg:text-xl text-white-text/75;
}

.cardsContainer {
  @apply pt-[7.5vw] lg:pt-[3vw] sticky z-50 2xl:px-20;
}

.cardsBody {
  font-family: "Inter";
  @apply grid grid-cols-1 gap-10;
}

.card {
  @apply w-full bg-[#17191C] border-t-4 border-orange-bg pb-[6vw];
}

.cardBody {
  @apply py-[1vw] px-[2vw] flex items-center relative;
}

.cardHead {
  @apply w-full text-xl font-bold text-white-text/75 lg:text-2xl xl:text-3xl;
}

.cardDesc {
  font-family: "InterLight";
  @apply w-full font-extralight text-white-text/75 h-full lg:text-xl xl:px-20 lg:px-16 px-5 pt-[2.5vw] text-left;
}

.lastContainer {
  @apply pt-[1.5vw] text-center;
}

.button {
  font-family: "Inter";
  @apply text-black bg-white-text;
}

.join {
  @apply mt-[2vw];
}

.joinbutton {
  font-family: "Inter";
  @apply p-3 px-5 mt-[1vw] font-bold text-center text-black rounded-xl lg:p-3 lg:px-7 lg:mt-3 bg-white-text text-nowrap;
}

.joinIcon {
  @apply inline;
}
