@font-face {
  font-family: "Inria Serif";
  src: url("../../assets/Fonts/InriaSerif-Regular.ttf") format("woff2");
}

@font-face {
  font-family: "Metrisch";
  src: url("../../assets/Fonts/Metrisch-Book-webfont.ttf") format("truetype");
}

.aboutBody {
  @apply py-12 text-center xl:py-0 mx-7 xl:mx-16;
}

.mainDetails {
  @apply xl:mx-28;
}

.mainDetails1 {
  font-family: "Metrisch";
  @apply font-bold uppercase text-9xl text-orange-text;
}

.mainDetails1 h1 {
  @apply inline text-center cursor-pointer;
}

.mainDetails2 {
  @apply lg:mt-0 text-[#949AA7];
}

.mainDetails3 {
  hyphens: auto;
  text-align: justify;
  content-visibility: auto;
  @apply mt-5 text-lg lg:mt-0 font-extralight xl:mt-5 xl:mb-12 lg:text-xl text-[#949AA7];
}

.mainDetails3 p span {
  @apply font-extrabold;
}

.itemsContainer {
  @apply flex flex-col justify-center gap-5 mt-8 xl:mt-0 lg:flex-row xl:mx-48;
}

.cardContainer {
  @apply w-[2/3] h-auto relative flex-1 shadow-2xl rounded-3xl bg-[#1E3451]/20 text-orange-text backdrop-blur-sm hover:drop-shadow-2xl;
}

.cardContainer:hover {
  @apply shadow-md shadow-[#c2956b7a];
}

/* .cardContainer:hover {
  @apply transition duration-500 cursor-default;
  box-shadow: 0px 0px 10px #c2956b7a;
} */

/* .cardContainer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid transparent;
  animation: pulseBorder 2s infinite linear alternate;
  @apply rounded-3xl;
}

@keyframes pulseBorder {
  0% {
    border-color: #c2956b;
  }
  100% {
    border-color: transparent;
  }
} */

.cardBody {
  @apply py-10 p-7;
}

.cardHeading {
  @apply text-xl font-semibold text-center lg:text-2xl;
}

.cardDescription p {
  text-align: left;
  word-spacing: 0.1px;
  @apply mt-6 text-base text-[#949AA7];
}

.details {
  @apply mt-10 text-xl text-center xl:mt-5 lg:mt-20;
}

.details1 {
  content-visibility: auto;
  hyphens: auto;
  text-align: justify;
  word-spacing: 2px;
  @apply mt-10 text-justify text-[#949AA7] xl:mx-32;
}

.details2 {
  @apply text-center text-white-text mt-7;
}

.details2 span:nth-child(1) {
  @apply text-[#FF671F];
}

.details2 span:nth-child(2) {
  @apply text-[#FFFFFF];
}

.details2 span:nth-child(3) {
  @apply text-[#046A38];
}
