.navbarBody {
  @apply flex justify-between pt-12 mx-8 lg:mx-20;
}

.imageContainer {
  @apply w-[30vw] lg:w-[10vw];
}

.joinButton {
  @apply flex p-2 font-medium rounded-full lg:text-2xl bg-gradient-to-r from-gradient-start to-gradient-end px-7 lg:px-9 text-white-text;
}
