@font-face {
  font-family: "Inter";
  src: url("../../assets/Fonts/Inter-Regular.ttf");
}

.navbarBody {
  @apply flex justify-between pt-5 ml-3 xl:ml-12;
}

.imageContainer {
  @apply w-[33vw] md:w-[20vw] lg:w-[21vw] xl:w-[10vw] cursor-pointer -mt-3 md:-mt-5 lg:-mt-9 xl:-mt-3;
}

.joinButton {
  @apply flex items-center px-4 py-2 pr-2 font-medium border border-r-0 rounded-bl-2xl rounded-tl-2xl lg:py-3 border-white/50 lg:px-9 text-white-text;
}

.joinText {
  font-family: "Inter";
  @apply mr-2 xl:text-2xl;
}

.iconBody {
  @apply p-2 ml-2 rounded-full bg-orange-bg;
}

.icon {
  @apply text-[#111] size-5 xl:size-9;
}
