.heroContainer {
  @apply lg:h-[89vh] h-[81vh] md:h-[83.4vh] lg:mt-0 mt-6 overflow-hidden;
  background-image: url("../../assets/Images/mainbg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-resolution: from-image 300dpi;
  image-rendering: pixelated;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heroBody {
  @apply flex items-end justify-center w-[100%] h-full text-center lg:items-center xl:items-center xl:justify-start;
}

.heroInnerBody {
  @apply flex flex-col items-center justify-center lg:mx-60 xl:mx-0 xl:ml-36 lg:mt-96 xl:mt-0;
}

/* .inputBody {
  @apply bg-[#38414F] lg:ml-[20vh] rounded-full flex justify-between lg:mb-48 mb-36;
}

.input {
  @apply bg-transparent rounded-full focus:bg-transparent active:bg-transparent focus:outline-0 focus:text-white-text pl-4 placeholder:text-white-text/50 lg:placeholder:text-xl w-[30vh] lg:w-[40vh];
}

.joinbutton {
  @apply px-5 py-2 rounded-full bg-orange-bg lg:px-11 text-white-text lg:text-xl;
} */

.formContainer {
  @apply text-orange-text shadow-2xl bg-[#1E3451]/20 rounded-3xl text-center xl:w-[70vh]  xl:backdrop-blur-sm backdrop-blur-2xl xl:ml-20 p-10 lg:py-20 py-14 lg:px-24 lg:mx-0 mx-72;
}

.form {
  @apply flex flex-col items-center p-0 mt-5 lg:gap-7 lg:mt-8 lg:flex-row lg:justify-between;
}

.formHeading {
  @apply text-3xl font-bold mb-7 lg:text-3xl xl:text-4xl;
}

.formDesc {
  @apply text-lg lg:text-base text-orange-text/70;
}

.input {
  @apply active:border-orange-text focus:border-orange-text py-3 lg:w-[35vh] w-[35vh] text-center bg-transparent border border-orange-text rounded-full;
}

.joinbutton {
  @apply p-3 px-5 mt-4 rounded-full lg:p-4 lg:px-7 lg:mt-0 bg-orange-text text-white-text text-nowrap;
}

.iconsContainer {
  @apply lg:mt-2 lg:ml-12;
}

.iconsBody {
  @apply flex;
}

.iconBody {
  @apply p-3 m-3 rounded-full shadow-xl cursor-pointer border-orange-text bg-[#1E3451]/30 backdrop-blur-sm;
}

.icon {
  @apply inline size-7;
}

.redirect {
  @apply pb-12 mt-5 lg:ml-11;
}

.redirectBody {
  @apply p-3 m-3 font-medium rounded-full shadow-xl cursor-pointer bg-orange-bg;
}

.imageContainer {
  @apply relative border h-[100vh] w-[70vh];
}

.image1,
.image2 {
  @apply absolute top-0 left-0;
}

.image2 {
  z-index: 1;
}

.image1 {
  @apply w-[10vh] flex justify-center;
  z-index: 2;
}

@media (max-width: 1024px) {
  .heroContainer {
    background-image: url("../../assets/Images/mainbg-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 2s ease-in-out;
  }
}
