@font-face {
  font-family: "Inter";
  src: url("../../assets/Fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../../assets/Fonts/Poppins-Bold.ttf");
}

.heroContainer {
  @apply xl:h-[88vh] lg:mt-0 mt-12 overflow-hidden;
  background-image: url("../../assets/Images/bg.svg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  image-resolution: from-image 300dpi;
  image-rendering: pixelated;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.heroBody {
  @apply flex items-center justify-center h-[90%] md:mt-0 lg:items-start lg:justify-center xl:justify-start;
}

.heroInnerBody {
  @apply flex flex-col items-center justify-center xl:mx-0 lg:mr-0 2xl:ml-20 lg:mt-0 xl:mt-4 2xl:mt-0;
}

/* .inputBody {
  @apply bg-[#38414F] lg:ml-[20vh] rounded-full flex justify-between lg:mb-48 mb-36;
}

.input {
  @apply bg-transparent rounded-full focus:bg-transparent active:bg-transparent focus:outline-0 focus:text-white-text pl-4 placeholder:text-white-text/50 lg:placeholder:text-xl w-[30vh] lg:w-[40vh];
}

.joinbutton {
  @apply px-5 py-2 rounded-full bg-orange-bg lg:px-11 text-white-text lg:text-xl;
} */

.formContainer {
  backdrop-filter: blur(40px);
}

.formContainer {
  @apply text-orange-text border relative border-white/20 shadow-2xl shadow-orange-bg/5 bg-[#000000]/5 rounded-3xl text-center lg:w-[50vh] xl:w-[65vh] 2xl:w-[70vh] xl:ml-16 2xl:ml-16 p-7 px-5 lg:py-5 xl:py-10 2xl:py-16 py-10 lg:px-32 xl:px-8 2xl:px-10 lg:mx-0 mx-72 md:mx-32;
}

.contentContainer {
  @apply mx-[2.2vw] text-center;
}

.content1 {
  font-family: "Inter";
  @apply inline-block p-2 px-5 text-[3vw] font-semibold tracking-wide border text-nowrap md:text-lg xl:text-xl text-white-text border-white/40 rounded-md;
}

.content2 {
  font-family: "PoppinsBold";
  @apply mt-2 text-4xl text-transparent xl:leading-[4.5rem] bg-gradient-to-r from-gradient-start to-gradient-end via-gradient-start bg-clip-text xl:tracking-wide xl:text-6xl;
}

.content2part1 {
  @apply xl:text-5xl;
}

.content2part2 {
  @apply xl:text-8xl;
}

.content3 {
  font-family: "Inter";
  @apply mt-3 text-center text-white-text lg:mx-32 md:mx-16 xl:mx-0;
}

/* .pseudo1,
.pseudo2 {
  @apply absolute inset-0 -z-10;
}

.top {
  border-image: linear-gradient(to right, #ffffff, #000000);
  border-image-slice: 0.5;
  border-radius: 25px;
}

.left {
  @apply rounded-3xl;
  border-image: linear-gradient(to bottom, #ffffff, #000000);
  border-image-slice: 0.5;
  border-radius: 25px;
} */

.form {
  font-family: "Inter";
  @apply flex flex-col p-0 mt-5 xl:items-center lg:gap-7 xl:gap-3 lg:mt-7 lg:flex-row lg:justify-center;
}

.formHeading {
  @apply mb-3 text-3xl font-bold text-nowrap lg:text-2xl xl:text-3xl 2xl:text-5xl;
}

.formDesc {
  @apply text-xl lg:text-base text-[#949AA7];
}

.input {
  @apply bg-[#606060]/30 focus:text-white-text/50 outline-0 py-3 lg:w-[35vh] xl:w-[42vh] w-[45vh] pl-5 border border-orange-text/5 rounded-xl placeholder:text-white-text/50 focus:shadow-lg;
}

.joinbutton {
  @apply p-3 px-5 mt-4 font-bold rounded-xl lg:p-3 lg:px-7 lg:mt-0 bg-white-text text-nowrap;
}

.joinIcon {
  @apply inline;
}

.iconsContainer {
  @apply lg:mt-2 lg:ml-12;
}

.iconsBody {
  @apply flex;
}

.iconBody {
  @apply p-3 m-3 rounded-full shadow-xl cursor-pointer bg-[#1E3451]/30 backdrop-blur-sm hover:bg-orange-bg transition-colors duration-500;
}

.iconBody:hover .icon {
  @apply text-blue-text;
}

.icon {
  @apply block size-7;
}

.icon:nth-child(4) {
  color: black;
}

.redirect {
  @apply pb-12 mt-5 lg:ml-11;
}

.redirectBody {
  @apply p-3 m-3 font-medium rounded-full shadow-xl cursor-pointer bg-gradient-to-r from-gradient-start to-gradient-end;
}

.imageContainer {
  @apply relative border h-[100vh] w-[70vh];
}

.image1,
.image2 {
  @apply absolute top-0 left-0;
}

.image2 {
  z-index: 1;
}

.image1 {
  @apply w-[10vh] flex justify-center;
  z-index: 2;
}

@media (max-width: 1024px) {
  .heroContainer {
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: fadeIn 2s ease-in-out;
  }
}

.coinsContainer {
  font-family: "Inter";
  @apply pb-10 mx-0 mt-20 md:pb-0 md:mx-10 lg:mx-0 xl:ml-0;
}

.coinsHeading {
  @apply mb-6 font-semibold text-center lg:ml-12 xl:-ml-12 text-orange-text lg:text-2xl;
}

.coinsBody {
  @apply grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-cols-3 md:gap-7;
}

.coin {
  @apply flex flex-wrap items-center gap-2;
}

.coinImage {
  @apply w-[4vw] md:w-[3vw] xl:w-[1.2vw];
}

.coinName,
.coinSupply {
  @apply text-[#949AA7] xsm:text-sm text-base;
}

.imageContainerr {
  @apply w-full mt-[5vw] flex justify-center xl:hidden;
}

.imageBody {
  @apply w-[100%] h-[100%];
}

.image {
  @apply object-contain;
}
